<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>mChat</title>
    <link rel="stylesheet" href="plugin/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="bg"></div>
<div class="chat">
    <div class="lchat">14321432142314</div>
    <div class="rchat">23421432143214</div>
</div>

<script src="js/jquery-2.2.3.min.js"></script>
<script src="plugins/bootstrap.min.js"></script>
<script src="js/mchat.js"></script>
</body>
</html>